<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</pre>
<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<% @user = User.find(current_user) %>
				<h1>Hallo <%= @user.email %></h1>
				<h1>Ein Arbeitsplatz zu Werk "<%= @werk.werk %>"  wurde hinzugefügt!</h1>
				<pre>
<h2>Werk "<%= @werk.werk %>" befindet sich in <%= @werk.stadt %> in <%= @werk.land %> </h2>
Zu "<%= @werk.werk %>" wurde der Arbeitplatz "<%= @arbpl.name %>" hinzugefügt. Hier eine Beschreibung des Arbeitsplatzes: "<%= @arbpl.beschr %>" 

</div>	
<%= link_to "Zurück zu den Werken", werk_path(@werk), class: 'btn btn-success' %>
	</div>
	</div>
</div>