<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-10">
				<h1>Werke </br><small>Überblick über die Werke</small></h1>

				<table class="table">
					<thead>
						<tr>
							<th>Werk</th>
							<th>Stadt</th>
							<th>Land</th>
							<th>Bild</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<% Werk.all.each do |werk| %>
						<tr>
							<td><%= werk.werk %></td>
							<td><%= werk.stadt %></td>
							<td><%= werk.land %></td>
							<td> <%= image_tag werk.avatar %></td>
							<td> <%= link_to "Anzeigen", werk_path(werk), class: 'btn btn-success' %>

							<%= link_to "Bearbeiten", edit_werk_path(werk), class: 'btn btn-info' %>

							<%= link_to "Löschen", werk_path(werk), class: 'btn btn-danger', method: :delete, confirm: "Are you sure?" %> </td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= link_to "Neuer Werk", new_werk_path, class: 'btn btn-success' %>
			</div>

		</div>
	</div>
</div>