<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-5">

				<%= link_to "Zurück zu den Werken", werks_path, class: 'btn btn-info' %>

				<div class="panel panel-default">
					<div class="panel-heading">
						Werk: "<%= @werk.werk %>"
					</div>
					<div class="panel-body">
						<%= @werk.stadt %> in <%= @werk.land %>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						Arbeitsplätze
					</div>
					<div class="panel-body">
						<ul class="list-group">
							<%= render @werk.arbpls %>
						</ul>

					</div>
				</div>
			</div>
		</div>


	<div class="row">
		<div class="col-lg-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					Neuer Arbeitsplatz
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<%= render 'arbpls/form' %>

				</div>
			</div>
		</div>
	</div>

</div>
</div>
</div>
</div>