<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-10">
				<h1> <%= @werk.werk %> </h1>

				<p>
					<%= @werk.stadt %>
				</p>

				<p>
					<%= @werk.land %>
				</p>
				<ul class="list-group">
					<%= render @werk.arbeitsplatzs %>
				</ul>
				<div class="col-lg-8">
					<h2>Neuer Arbeitsplatz</h2>
					<%= render 'arbeitsplatzs/form' %>
					<%= link_to "Zurück zu den Werken", werks_path, class: 'btn btn-info' %>
				</div>

			</div>
		</div>
	</div>
</div>