<div id="wrapper">
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-10">
				<h2>Maschinentyp zu Arbeitsplatz: <%= @arbpl.name %></h2>

				<% if @matyp.new_record? %>

				<div class="col-lg-8">
					<h2>Neuer Maschinentyp hinzufügen</h2>
					<%= render 'matyp_form' %>
				</div>
				<% else %>

				<li class="list-group-item active">
					<h4 class="list-group-item-heading">
					<p>
						<%= @matyp.name unless @matyp.nil? %>
					</p></h4>
					<p>
						<%= @matyp.beschr unless @matyp.nil? %>
					</p>
					<p>
						<%= link_to 'Destroy', [@arbpl, @arbpl.matyp], class: 'btn btn-danger', method: :delete, confirm: "Are you sure?" %>
					</p>
				</li>
				<% end %>
					<%= link_to "Zurück zu den Werken", werks_path, class: 'btn btn-info' %>
			</div>
		</div>
	</div>
</div>
